<article class="card">
    {% if post.image %}
    <div class="card-image">
        <img src="{{ post.image }}"{% if post.image_alt %} alt="{{ post.image_alt }}"{% endif %}>
    </div>
    {% else %}
    <header class="card-header">
        <h3 class="card-header-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title}}</a></h3>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <h3 class="title is-4"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a></h3>
            {% endif %}
            {% if post.summary %}
                {{ post.summary | markdownify }}
            {% else %}
                <p>{{ post.excerpt }}</p>
            {% endif %}
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Read more</a>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</article>
